.contenedor{
    background-color: aliceblue;
}

.tarjeta{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
}

.MuiPaper-root{
    margin: 1rem;
    text-align: center;
   
}    


.MuiCardActions-root{
    text-align: center;
    justify-content: center;
    
}
.MuBbuttonBase-root{
      text-align: center; 
      justify-content: center;
      align-items: center;
      
    }